<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>\{{ site_name }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="\{{ site_desc }}">
        <meta name="favicon" content="/resources/favicon.png">

        \{{#each styles}}
        <link rel="stylesheet" href="\{{href}}" type="text/css" \{{#integrity}}integrity="\{{ integrity }}"\{{/integrity}}>
        \{{/each}}
    </head>

    <body>
        \{{{ $_page_header }}}
        \{{{ $_page_navigation }}}
        \{{{ $_page_content }}}
        \{{{ $_page_footer }}}

        \{{#each scripts}}
        <script src="\{{src}}" type="application/javascript" \{{#integrity}}integrity="\{{ integrity }}"\{{/integrity}}></script>
        \{{/each}}
    </body>
</html>